{% extends 'ErwinStudentAdministrationSystemBundle:RecitationType:recitationType.html.twig' %}
{% block javaScript %}    
{% endblock %}
{% block deleteForm %}
    <div class="div-delete">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
            {{ form_errors(form) }}
                <div>
                    {{ form_label(form.recitationTypeId, "Recitation Type ID:") }}
                    {{ form_errors(form.recitationTypeId) }}
                    {{ form_widget(form.recitationTypeId,  { "attr": {"value": recitationType.recitationTypeId }, "disabled" : "true" }) }}
                </div>       
                <div>
                    {{ form_label(form.recitationTypeName, "Recitation Type:") }}
                    {{ form_errors(form.recitationTypeName) }}
                    {{ form_widget(form.recitationTypeName, { "attr": {"value": recitationType.recitationTypeName }, "disabled" : "true" }) }}
                </div>
                <div style="margin-top:5px; float: left;">
                    {{ form_widget(form.cancel, { "attr": {"style": "font-weight: bold; color: blue;"}, "label" : "Cancel Delete"}) }}
                </div>
                <div style="margin-top:5px;">    
                    {{ form_widget(form.delete, { "attr": {"style": "font-weight: bold; color: blue;"}, "label" : "Delete Record"}) }}
                </div>       
        {{ form_end(form) }}
    </div>            
{% endblock %}
{% block processMessage %}
    {% if message == "" %}
        <p></p>    
    {% else %}
        <p style="margin-left:150px; margin-top: 20px; font-weight:bold; color:maroon;">{{ message }}</p>
    {% endif %}
{% endblock %}    
